body{
    margin: 0;
    background-color: rgb(206, 206, 206);
}

.mainContainer{
    width: 100vw;
    height: 100vh;
}

.origi{
    height: 250px;
}

.header{
    width: 100%;
    height: 10%;
    background-color: #8A39E1;
}

.content{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sideNav{
    width: 100%;
    height: 100%;
    background-color: beige;
    box-shadow: 0 0 10px gray;
}

.postContent{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center
}

.createPostForm{
    padding: 10px;
    width: 80%;
    background-color: beige;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 5%;
    box-shadow: 0 0 10px gray;
    margin-bottom: 5%;
}

.userInfo{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.userInfo img{
    width: 70%;
    border-radius: 50%;
}

.userInput{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 6fr 1fr;
}

#postInput{
    border: none;
    font-size: large;
    background-color: rgba(255, 255, 255, 0);
}

#postBtn{
    height: 40%;
    margin-top: 28%;
    width: 70%;
    font-size: large;
    font-weight: bold;
    color: #8A39E1;
    border: none;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    transition: 0.4s;
}

#postBtn:hover{
    background-color: #8A39E1;
    color: white;
}

@media (max-width:700px) {
    .content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .userInfo img{
        width: 50px;
    }
    .userInfo h2{
        font-size: large;
        margin-left: 10px;
        margin-top: 20px;
    }
    .sideNav{
        display: none;
    }
    #postBtn{
        width: 100%;
        margin-top: 65%;
    }
    .btnsDiv .btns{
        width: 100%;
        margin-left: 0px;
    }
    .commentDivForm .commentName{
        margin-top: -50px;
    }
    .createPostForm .submit{
        width: 100%;
        margin-left: 0px;
    }
}

.btnsDiv{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.btns{
    width: 15%;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: white;
    color: gray;
    transition: 0.2s;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.commentDivForm{
    background-color: rgb(230, 230, 230);
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0 0 2px rgb(143, 143, 143);
}

.commentImg{
    width: 40px;
    margin-bottom: 5%;
    border-radius: 50%;
}

.commentName{
    margin-top: -80px;
    margin-left: 60px;
    font-size: large;
}
.commentContent{
    padding-bottom: 3%;
    padding-top: 1%;
    padding-left: 4%;
}


.commentInput{
    display: none;
    margin-top: 15px;
    width: 75%;
    height: 30px;
    border: none;
    padding-left: 10px;
    margin-bottom: 2%;
}

.commentSubmit{
    display: none;
    height: 20px;
    margin-right: 5%;
    float: right;
}

.submit{
    width: 15%;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: white;
    color: gray;
    transition: 0.2s;
    font-size: large;
    cursor: pointer;
}

.submit:hover{
    color: white;
    background-color: #8A39E1;
}